$color-black      : #0f0f10 !default;
$color-grey       : #282828 !default;
$color-grey-dark  : $color-grey !default;
$color-grey-medium: #92929a !default;
$color-light-grey : #c2c2c2 !default;
$color-white      : #ffffff !default;

$color-image-mask: rgba(40, 40, 40, 0.5) !default;
