.panierC {
    width: 90%;
    max-width: 1520px;
    margin: 150px auto 50px auto;
}
.panierC label.screen-reader-text {
    display: none;
}
.woocommerce ul#shipping_method li {
    display: flex;
    margin: 10px 0;
}
#packlink-drop-off-picker{
    margin-top: unset !important;
}
.panierC nav.woocommerce-breadcrumb {
    display: block;
    margin-bottom: 40px;
    color: #565656;
}
.paniertitle {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 80px;
    color: #565656;
}
.woocommerce tr.woocommerce-shipping-totals.shipping ul#shipping_method li {
    flex-direction: row;
    flex-wrap: wrap;
}
.panierC img {
    width: 150px !important;
    height: 150px !important;
}
.panierC bdi {
    margin: auto;
    flex-direction: unset;
}
.panierC input {
    border: none;
    background-color: #FBF8E8;
}
.panierC input#coupon_code {
    width: 150px;
}
.panierC a.checkout-button.button.alt.wc-forward {
    background-color: #7C96B7;
    border-radius: 30px;
}
textarea#order_comments{
    background-color: #FBF8E8;
}
div#payment {
    background: #FBF8E8;
}
.panierC .quantity input{
    padding: 0;
}
button#place_order {
    margin-top: 20px;
    background-color: #7C96B7;
}
tr.woocommerce-cart-form__cart-item.cart_item img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    position: unset;
}
.woocommerce-info {
    width: 90%;
    max-width: 1520px !important;
    margin-left: auto !important;
    border-top-color: #BA9283 !important;
    margin-right: auto !important;
}
.woocommerce-info::before {
    color: #BA9283 !important;
}
@media screen and (max-width : 800px) {
    .commander form.checkout.woocommerce-checkout {
        display: flex;
        flex-direction: column;
    }
}