.reviews {
    position: relative;
    background-color: #A36649;

    z-index: 1;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: url('assets/img/fondcoton2.png');
        mix-blend-mode: multiply;

        pointer-events: none;
        z-index: -1;
    }
}
.pt440{
    padding-top: 440px;
}
.arrow {
    grid-column: 10/span 2;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.reviewstitle{
    grid-column: 2/span 7;
    font-size: 50px;
    line-height: 65px;
    color: #FBF8E8;
}
.thumbnailgallerie {
    margin-bottom: 40px;
    height: 200px;
    grid-column: span 12;
    overflow: hidden;
}
.showroom{
  display:flex;
    flex-direction:column;
}
.showroom a.logo {
    display:inline-block;
    float: left;
}
.showroom a:hover {
    color: #ff6d00;
}
.showroom img {
    border-radius: 5px;
    padding: 20px;
    display:block;
}
.arrowleftz, .arrowrightz {
    font-size:16px;
    line-height: 21px;
    cursor:pointer;
    display:inline-block;
    color: #FBF8E8;
}
.full{
    grid-column: span 12;
}
.h80{
    height: 80px;
}
.toslide.grid12 {
    height: 200px;
}
.review {
    grid-column: span 6;
    color: white;
    border-radius: 50px;
    border: 1px solid;
}
.grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}
.reviewcontainer {
    grid-column: 2/span 4;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.ppl {
    font-size: 20px;
    margin-bottom: 20px;
}
.textreview {
    font-size: 12px;
    font-family: 'Rasmus Italic';
}
.pb120{
    padding-bottom: 120px;
}
@media screen and (max-width: 800px){
    .reviewstitle {
        font-size: 24px;
        line-height: 31px;
    }
    .grid12.wi90.ma.pt440.pb120 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .grid12.full.h80 {
        display: flex;
        flex-direction: column;
    }
    .thumbnailgallerie{
        height: 190px;
    }
    .review{
        height: 190px;
        border-radius: 10px;
    }
    .reviewcontainer {
        margin: auto 10px;
        grid-column: 1/span 6;
    }
}