.bit {
    grid-column: 2/span 9;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;
}
.bitimg {
    grid-column: 1/span 4;
    min-height: 600px;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
}
.bittext {
    grid-column: 6/span 4;
    height: fit-content;
    margin: auto;
}
@media screen and (max-width: 1040px){
    .bit{
        grid-column: 1/span 12;
        grid-template-columns: repeat(12, 1fr);
    }
    .bittext {
        grid-column: 7/span 6;
    }
    .bitimg {
        grid-column: 1/span 6;
    }
}
@media screen and (max-width: 800px){
    .bit{
        display: flex;
        flex-direction: column-reverse;
    }
}